<form>
  <div class="input-group">
    <div>
      <label for="initial-investment">Initial Investment</label>
      <input id="initial-investment" type="number" />
    </div>
    <div>
      <label for="annual-investment">Annual Investment</label>
      <input id="annual-investment" type="number" />
    </div>
  </div>
  <br />
  <div class="input-group">
    <div>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" type="number" />
    </div>
    <div>
      <label for="duration">Duration</label>
      <input id="duration" type="number" />
    </div>
  </div>
  <br />
  <button>Calculate</button>
</form>
